.TodoItem {
  display: flex;
  margin: 10px 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  &__menu{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}